html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#title {
	font-family: 'Anton', sans-serif;
	font-size: 45px;	
	font-style: bold;
}

#map_canvas {
	height: 100%;
}

#info_window {
	font-family: 'Indie Flower', cursive;
	color: white;
	text-align: center;	
	font-size: 10px;
	border-style: dotted;
	background-color: #4A260B;
	border-width:4px; 
	border-color: deepskyblue;
	margin: 5px;
	padding: 10px;
}