p {
	background-color: navy;
	color: mediumspringgreen;
	display: block;	
	font-family: Courier;
	font-size: 15px;
	margin: 10px;
	padding: 10px;
	width: 40%;
}

h1 {
	color: white;
	font-size: 10px;
}